#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.window {
  background-color: hsl(0, 0%, 100%);
  color: black;
  border-radius: 5%;
  width: 20vw;
  text-align: center;
  margin: auto auto;
}
.title {
  font-size: 24px;
  padding: 10px 20px;
}

.subtitle {
  color: gray;
  font-size: 18px;
  padding: 10px 20px;
}

.qr-code {
  border-radius: 5%;
  width: 18vw;
  margin-top: 18px;
}